{% if hosts_enable_localhost %}
127.0.0.1 localhost
{% endif %}
{% for k, v in hosts_map.iteritems() %}
{{ k }} {{ v | join(' ') }}
{% endfor %}
{% if hosts_enable_ipv6 %}
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
{% endif %}
